.hero {
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url("https://images.unsplash.com/photo-1502877338535-766e1452684a") center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-content {
    max-width: 700px;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #00d4ff;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #ddd;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-primary {
    background: #00d4ff;
    color: black;
    padding: 12px 22px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #00aacc;
}

.btn-secondary {
    border: 1px solid #fff;
    color: white;
    padding: 12px 22px;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-secondary:hover {
    background: white;
    color: black;
}